<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<plugin>
    <id>com.fr.plugin.mobile.web.v11</id>
    <name><![CDATA[HTML5移动端展现]]></name>
    <active>yes</active>
    <version>11.0.990</version>
    <env-version>11.0~11.0</env-version>
    <vendor>FineMobile</vendor>
    <jartime>2021-08-30</jartime>
    <description><![CDATA[除了原生App展示报表外，提供移动浏览器预览报表,表单以及决策系统的插件，可用于微信,钉钉以及App中集成]]></description>
    <change-notes>
        <![CDATA[
        [2025-04-24]<br/>
        11.0.990:修复bug<br/>
        [2025-03-27]<br/>
        11.0.980:修复bug<br/>
        [2025-01-16]<br/>
        11.0.970:修复bug<br/>
        [2024-12-19]<br/>
        11.0.961:修复bug<br/>
        [2024-11-29]<br/>
        11.0.960:修复bug<br/>
        [2024-11-01]<br/>
        11.0.950:修复bug<br/>
        [2024-08-28]<br/>
        11.0.942:修复bug<br/>
        [2024-08-28]<br/>
        11.0.941:修复bug<br/>
        [2024-08-01]<br/>
        11.0.940:修复bug<br/>
        [2024-07-22]<br/>
        11.0.931:修复bug<br/>
        [2024-07-02]<br/>
        11.0.930:修复bug<br/>
        [2024-05-31]<br/>
        11.0.920:修复bug<br/>
        [2024-05-09]<br/>
        11.0.912:修复bug<br/>
        [2024-04-17]<br/>
        11.0.911:修复bug<br/>
        [2024-04-12]<br/>
        11.0.910:修复bug<br/>
        [2024-03-13]<br/>
        11.0.900:修复bug<br/>
        [2024-02-26]<br/>
        11.0.892:修复bug<br/>
        [2024-01-25]<br/>
        11.0.891:修复bug<br/>
        [2024-01-08]<br/>
        11.0.890:修复bug<br/>
        [2023-12-08]<br/>
        11.0.880:修复bug<br/>
        [2023-11-09]<br/>
        11.0.870:修复bug<br/>
        [2023-10-13]<br/>
        11.0.862:修复bug<br/>
        [2023-10-08]<br/>
        11.0.861:修复bug<br/>
        [2023-09-26]<br/>
        11.0.860:修复bug<br/>
        [2023-09-13]<br/>
        11.0.851:修复bug<br/>
        [2023-08-31]<br/>
        11.0.850:修复bug<br/>
        [2023-08-04]<br/>
        11.0.840:修复bug<br/>
        [2023-07-10]<br/>
        11.0.830:修复bug<br/>
        [2023-06-08]<br/>
        11.0.820:修复bug<br/>
        [2023-06-02]<br/>
        11.0.812:修复bug<br/>
        [2023-05-17]<br/>
        11.0.811:修复bug<br/>
        [2023-05-12]<br/>
        11.0.810:修复bug<br/>
        [2023-04-4]<br/>
        11.0.800:修复bug<br/>
        [2023-03-10]<br/>
        11.0.790:修复bug<br/>
        [2023-02-17]<br/>
        11.0.780:BI6.0的目录支持展示分享给我和分析主题<br/>
        [2023-02-03]<br/>
        11.0.772:修复bug<br/>
        [2023-01-11]<br/>
        11.0.771:修复bug<br/>
        [2022-12-30]<br/>
        11.0.770:h5显示加载动画优化<br/>
        11.0.770:路由页面的js资源提前加载<br/>
        [2022-12-05]<br/>
        11.0.760:jsapi支持return false<br/>
        11.0.760:参数面板样式优化<br/>
        11.0.760:跳转转前端路由<br/>
        11.0.760:h5首次加载请求数量及耗时优化<br/>
        [2022-11-11]<br/>
        11.0.750:网络请求优化提升性能<br/>
        [2022-10-24]<br/>
        11.0.740:多报表块加载优化<br/>
        11.0.740:移动端骨架屏<br/>
        [2022-10-12]<br/>
        11.0.731:修复bug<br/>
        [2022-09-28]<br/>
        11.0.73:修复bug<br/>
        [2022-09-09]<br/>
        11.0.72:修复bug<br/>
        [2022-08-23]<br/>
        11.0.71:修复bug<br/>
        11.0.71:接口权限调整<br/>
        [2022-08-04]<br/>
        11.0.70:修复bug<br/>
        [2022-07-18]<br/>
        11.0.69:修复bug<br/>
        [2022-06-13]<br/>
        11.0.68:优化日期控件效果<br/>
        11.0.68:支持连续扫码<br/>
        [2022-06-13]<br/>
        11.0.67:修复bug<br/>
        [2022-05-23]<br/>
        11.0.66:适配折叠屏手机：单模板或全局控制PAD显示为手机效果<br/>
        [2022-04-29]<br/>
        11.0.65:修复bug<br/>
        [2022-04-18]<br/>
        11.0.64:tab组件内支持调整组件间隙<br/>
        11.0.64:BI图表字号自适应<br/>
        [2022-03-29]<br/>
        11.0.63:修复bug<br/>
        [2022-03-10]<br/>
        11.0.62:轻应用：支持快速构建应用并发布<br/>
        [2022-01-25]<br/>
        11.0.54:从第三方同步用户到平台<br/>
        [2021-12-15]<br/>
        11.0.50:适配BI5.1.19版本<br/>
        [2021-09-15]<br/>
        11.0.37:适配11.0<br/>
        [2021-08-17]<br/>
        10.4.989:修复bug<br/>
        [2021-08-06]<br/>
        10.4.988:修复bug<br/>
        [2021-07-21]<br/>
        10.4.987:修复bug<br/>
        [2021-07-12]<br/>
        10.4.986:BI移动端支持在看板内显示过滤组件实现局部查询,同时优化了过滤组件显示样式<br/>
        10.4.986:BI表格支持显示图片<br/>
        10.4.986:启用FineBI与FineReport连接工具插件下移动端可以正常预览<br/>
        10.4.982:BI支持表格序号<br/>
        10.4.982:BI表格样式继承pc<br/>
        10.4.982:全屏按钮优化<br/>
        10.4.982:优化移动端控件样式多余空白问题<br/>
        10.4.977:支持BI计算指标直接联动<br/>
        10.4.977:微信钉钉推送报错优化<br/>
        [2021-01-25]<br/>
        10.4.976:支持文件下载<br/>
        10.4.976:支持BI指标数据条<br/>
        10.4.976:支持BI维度设置表格属性<br/>
        10.4.976:支持BI快速计算组内百分比<br/>
        10.4.976:支持BI汇总方式百分位数设置<br/>
        10.4.976:新增一键全选JS方法<br/>
        [2020-12-15]<br/>
        10.4.975:表格折叠展开支持层级控制<br/>
        10.4.975:微信钉钉集成下支持获取经纬度js<br/>
        10.4.975:单元格圆角<br/>
        10.4.975:移动端支持pdf／excel等导出接口<br/>
        10.4.975:图表数据点提示优化<br/>
        10.4.975:顶部参数界面样式优化<br/>
        10.4.975:定时推送结果自适应优化<br/>
        10.4.975:横向布局容器优化<br/>
        [2020-10-30]<br/>
        10.4.97:支持消息滚动插件<br/>
        10.4.97:加载动画支持自定义<br/>
        10.4.97:支持BITab组件<br/>
        10.4.97:更多类型的Tab支持手势切换<br/>
        [2020-09-11]<br/>
        10.4.90:支持实现折叠展开树<br/>
        10.4.90:H5可选择是否显示导航工具栏<br/>
        10.4.90:H5支持单点登录配置<br/>
        10.4.90:报表块支持不放大翻页<br/>
        10.4.90:网页框支持根据内容自适应高度<br/>
        [2020-07-31]<br/>
        10.4.84:BI仪表板支持组件定义布局<br/>
        10.4.84:支持单元格行间距设置<br/>
        10.4.84:PAD单行表格高度可以根据内容自适应<br/>
        [2020-06-30]<br/>
        10.4.80:按钮组支持根据内容自适应高度<br/>
        10.4.80:支持横向布局容器<br/>
        10.4.80:付费组件未授权显示水印<br/>
        10.4.80:模板刷新图标更换成更易理解的图标<br/>
        [2020-06-03]<br/>
        10.4.76:组件背景及移动端弹窗背景支持透明度<br/>
        10.4.76:H5资源支持cdn内容分发<br/>
        10.4.76:移动端弹窗支持js关闭<br/>
        10.4.76:控件支持自定义通用样式<br/>
        10.4.76:提升模板内使用图片时初始加载速度<br/>
        10.4.76:支持部分图表js<br/>
		[2020-04-23]<br/>
        10.4.69:TAB组件新增联排按钮样式<br/>
		10.4.69:支持组件快速定位<br/>
		10.4.69:其他优化<br/>
        [2020-04-03]<br/>
        10.4.66:解决移动端弹窗中触发超链时的异常问题<br/>
        10.4.66:首页提供刷新方法<br/>
        10.4.66:文本、数字控件在填报预览下可以自定义是否显示<br/>
        10.4.66:H5首页和目录页切换可以像app中一样<br/>
        10.4.66:优化登录流程，避免某个请求无响应导致登录中断并且没有任何反应<br/>
        10.4.66:客户在使用tab组件时，单个tab内容过多滑动tab时标题可以冻结在顶部，方便切换<br/>
        10.4.66:优化组件标题字号，在pad下预览字号可以自适应<br/>
        [2020-02-28]<br/>
        10.4.61:H5报表解析下填报支持自适应，与APP填报功能统一<br/>
        10.4.61:支持网页框插件<br/>
        10.4.61:微信钉钉集成下，光线暗的时候扫码控件可以调用手电筒<br/>
        10.4.61:组件标题pad端显示时自适应放大，提升体验<br/>
        [2020-01-15]<br/>
        10.4.55:支持隐藏没有内容的空目录<br/>
        10.4.55:显示局部加载动画<br/>
        10.4.55:支持自定义首页标题<br/>
        10.4.55:新增简约日期样式插件<br/>
        10.4.55:支持统计移动端在线情况<br/>
        10.4.55:内置目录样式支持微调<br/>
        10.4.55:新增移动端弹窗插件<br/>
        10.4.55:优化了日历插件的日历样式<br/>
        10.4.55:分类导航目录支持一级目录直接挂载模板<br/>
        [2019-11-08]<br/>
        10.4.49:新增单选按钮组样式功能<br/>
        10.4.49:新增日历日期样式功能<br/>
        10.4.49:新增目录插入模板功能<br/>
        10.4.49:H5支持目录样式插件如标签导航目录等<br/>
        10.4.49:新增支持组件冻结<br/>
        10.4.49:原顶部显示的数据点提示，更换为跟随点击位置显示<br/>
        10.4.49:支持设置不显示数据点提示<br/>
        10.4.49:新增支持FR.remoteEvaluateAsync<br/>
        10.4.49:横竖屏、双指缩放、选中激活可以通过属性灵活控制<br/>
        ]]>
    </change-notes>
    <function-recorder class="com.fr.plugin.mobile.web.server.provider.Html5ControllerRegisterProvider"/>
    <function-recorder class="com.fr.plugin.mobile.web.server.provider.Html5URLRedirectProvider"/>
    <function-recorder class="com.fr.plugin.mobile.web.server.provider.Html5HeaderHandlerProvider"/>
    <function-recorder class="com.fr.plugin.mobile.web.server.provider.Html5PageActorProvider"/>
    <function-recorder class="com.fr.plugin.mobile.web.server.provider.Html5PageWriteActorProvider"/>
    <extra-report>
        <ActorProvider class="com.fr.plugin.mobile.web.server.provider.Html5PageActorProvider"/>
        <ActorProvider class="com.fr.plugin.mobile.web.server.provider.Html5PageWriteActorProvider"/>
    </extra-report>
    <extra-form>
        <FormActor class="com.fr.plugin.mobile.web.server.form.Html5FormActor"/>
    </extra-form>
    <extra-decision>
        <HttpHandlerProvider class="com.fr.plugin.mobile.web.server.provider.Html5HttpHandlerProvider"/>
        <URLAliasProvider class="com.fr.plugin.mobile.web.server.provider.Html5URLAliasProvider"/>
        <RequestPreHandleProvider class="com.fr.plugin.mobile.web.server.provider.Html5URLRedirectProvider"/>
        <RequestPreHandleProvider class="com.fr.plugin.mobile.web.server.provider.Html5HeaderHandlerProvider"/>
        <WebResourceProvider class="com.fr.plugin.mobile.web.server.provider.Html5WebResourceProvider"/>
        <!--插件注入拦截器-->
        <GlobalRequestFilterProvider class="com.fr.plugin.mobile.web.server.single.login.filter.Html5SingleLoginFilter"/>
        <ControllerRegisterProvider class="com.fr.plugin.mobile.web.server.provider.Html5ControllerRegisterProvider"/>
    </extra-decision>
    <extra-core>
        <!--插件注入国际化-->
        <LocaleFinder class="com.fr.plugin.mobile.web.server.provider.Html5LocaleFinder"/>
    </extra-core>
    <plugin-xml-i18n resource="fr-plugin-h5Report-*.jar" location="com.fr.plugin.mobile.web.locale">
      <name key="Plugin-Xml-I18n-H5Report_Name"/>
      <description key="Plugin-Xml-I18n-H5Report_Description"/>
      <change-notes key="Plugin-Xml-I18n-H5Report_Change_Notes"/>
    </plugin-xml-i18n>
</plugin>
